@media(max-width:1119px){
    .container{
        max-width: 1000px;
    }
}
/*Зделать бургер!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media(max-width:768px){
    .container{
        max-width: 700px;
    }

    .hero__title{
        font-size: 40px;
        line-height: 39px;
    }

    .hero__photo{
       max-width: 200px;
    }

    .apps{
        margin-left: -20px;
    }

    .app_text{
        margin-left: 60px;
    }

    .header__menu{
        display: none;
    }
    .hero{
        height: 105vh;
    }
    .hero__content{
        flex-wrap: wrap;
    }

    .hero__text{
        width: 100%;
    }

    .hero__photo{
       display: none;
    }

    .hero__title{
        margin-top: 30px;
        max-width: 500px;
    }

    .hero__subtitle{
        max-width: 500px;
    }

    .hero__comment{
        margin-top: 45px;
    }

    .ice_photo img{
        margin-top: 45px;
        width: 450px;
    }

    .ice_txt h2{
        font-size: 34px;
        margin-top: 100px;
    }

   .shop_header_nav{
       font-size: 15px;
   }

   .shop_tovars img{
        margin-top: 65px;
        width: 400px;
        height: 300px;
   }

   .otziv_content{
       flex-wrap: wrap;
   }

   .otziv_profil{
        justify-content: center;
   }

   .otziv2{
       text-align: center;
       width: 100%;
   }
   
   .otziv_text{
        margin-left: 27%;
   }

   .otziv_text p{
       text-align: center;
   }

   .otziv_photo{
       text-align: center;
       width: 100%;
       margin-top: 30px;
   }

   .otziv_content{
       margin-bottom: 100px;
   }

   .bloc4 input[type="text"]{
        width: 145px;
        height: 40px;
   }

   .bloc4 input[type="submit"]{
        height: 46px;
    }

   .bloc4{
        max-width: 300px;
    }

    .footer_body p, .footer_body h2{
        font-size: 10px;
    }

    .app_photo img{
        height: 640px;
    }
}

@media(max-width:425px){
    .container{
        width: 370px;
    }

    .hero{
        height: 550px;
    }

    .container1, .container2, .container3, .container4{
        margin: 50px 0;
    }

    .about_containers p{
        line-height: 15px;
        font-size: 14px;
    }

    .about_containers h2{
        font-size: 17px;
    }

    .ice_photo{
        display: none;
    }

    .ice_txt{
        width: 100%;
        text-align: center;
        margin-top: -90px;
    }

    .ice_btn{
        padding-bottom: 50px;
    }


    .shop_header h2{
        font-size: 32px;
    }

    .shop_header_nav{
        font-size: 14px;
        max-width: 100%;
        text-align: center;
        justify-content: center;
    }

    .tovars1, .tovars2, .tovars3{
       max-height: 1000px;
       flex-wrap: wrap;
    }

    .tovars1_photo{
        height: 150px;
        width: 100%;
        margin-top: 0px;
    }

    .tovars2_photo{
        height: 150px;
        width: 100%;
        margin-top: 120px;
    }

    .tovars3_photo{
        height: 150px;
        width: 100%;
        margin-top: 229px;
    }

    .tovars1_text{
        margin-top: 80px;
        width: 100%;
    }

    .tovars2_text{
        margin-top: 100px;
        width: 100%;
    }

    .tovars3_text{
        margin-top: 90px;
        width: 100%;
    }

    .otziv{
        margin-top: 370px;
    }

    .otziv_photo{
        display: none;
    }

    .otziv_text{
        margin-left: 7%;
   }

   .otziv .otziv_content{
    margin-bottom: 0px;
}

    .app{
        margin-top: 100px;
    }

    .app_content{
        flex-wrap: wrap;
    }

    .app_photo{
        width: 100%;
       text-align: center;
    }

    .app_text{
        margin-left: 0px;
        text-align: center;
    }

    .reg_body{
        margin: 70px auto;
    }

    .app_text p{
        line-height: 30px;
    }
    
    .reg_body h2{
        text-align: center;
        max-width: 522px;
        font-size: 33px;
        line-height: 52px;
        margin-bottom: 56px;
    }

    .reg_body input[type="text"]{
        width: 200px;
        height: 35px;
    }

    .reg_body input[type="submit"]{
        height: 41px;
        margin-left: -15px;
    }

    .bloc2, .bloc3, .bloc4{
        margin-top: 80px;
    }

    .bloc1{
        margin-top: 10px;
    }

    .bloc2 p, .bloc3 p{
        margin-top: 1px;
    }

    .bloc4 input[type="text"]{
        width: 70px;
        height: 22px;
        font-size: 10px;
        padding-left: 3px;
    }
    
    .bloc4 input[type="submit"]{
        height: 28px;
        width: 70px;
        font-size: 10px;
        padding: 0 5px;
        margin-left: -12px;
    }

    .bloc4 img{
        margin-top: 10px;
        margin-left: 1px;
    }

    .bloc1 img[src="img/facebook.png"],
    img[src="img/twitter.png"],
    img[src="img/instagram.png"], 
    img[src="img/linkedin.png"]{
        margin-left: 5px;
        margin-bottom: 60px;
    }

}

@media(max-width:375px){
    .container{
        width: 350px;
    }

    .tovars1_photo{
        width: 300px;
        margin-left: -22px;
    }

    .tovars2_photo{
        width: 300px;
        margin-left: -22px;
    }

    .tovars3_photo{
        width: 300px;
        margin-left: -22px;
    }

    .bloc4 input[type="text"]{
        height: 22px;
        margin-left: -7px;
    }
    
    .bloc4 input[type="submit"]{
        width: 60px;
        margin-left: -14px;
    }

}